<form [formGroup]="fg" class="">
  <div class="form">
    <div>User data</div>
    <user-form formControlName="user"></user-form>
  </div>
  <div class="form">
    <div>Address data</div>
    <address-form formControlName="address"></address-form>
  </div>
  <div class="list form-list" 
       formArrayName="petList">
      <div>Pet list</div>
      <div class="form" 
           *ngFor="let pet of fg.get('petList').controls; let i = index">
          <div>Pet data</div>
          <pet-form [formControlName]="i" (onRemove)="removePet(i)"></pet-form>
      </div>
  </div>
  
</form>
<button (click)="getStatus()">app form status</button>
<button (click)="getValue()">app form value</button>
<button (click)="addPet()">add new pet</button>

